:root, [data-bs-theme=light] {
  --bs-body-bg: #fbfaf5;
  --bs-body-bg-rgb: 251,250,245;
}

.site-root {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.sidebar img {
  max-width: 220px;
  height: auto;
}

.sidebar .social-links i {
  font-size: 1.6rem;
  color: var(--bs-body-color);
}

.sidebar.position-sticky {
  top: 1rem;
  padding-bottom: 1.5rem;
}

@media (max-width: 767.98px) {
  .sidebar.position-sticky {
    position: relative !important;
    top: auto;
  }
}

@media (max-width: 767.98px) {
  .site-root {
    padding-left: .75rem;
    padding-right: .75rem;
  }
}

.w-33 {
  width: 33% !important;
}

.min-w-33 {
  min-width: 33% !important;
}

html {
  scroll-behavior: smooth;
}

